{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Airclub Manager</h1>
    <blockquote>Un outils de gestion, en ligne, pour les aéroclubs.</blockquote>
{% endblock %}
