<form method="post" action="{{ path('brevet_delete', {'id': brevet.id}) }}"
      onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brevet.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
