{% extends 'base.html.twig' %}

{% block title %}Nouvel avion{% endblock %}

{% block body %}
    <h1>Nouvel avion</h1>

    {{ include('avion/_form.html.twig') }}

    <a href="{{ path('avion_index') }}" class="btn-primary btn">Retour</a>
{% endblock %}
